{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}- Accueil employés{% endblock %}
{% block metaDescription %}<meta name="description" content="Vous êtes sur la page d'accueil d'un administrateur. Vous avez accès à toute la gestion des données de cette application. Vous allez pouvoir créer, modifier et supprimer tout ce que vous souhaitez. C'est à partir de là que vous pourrez créer un nouvel utilisateur.">{% endblock %}
{% block body %}
<body>
  
{% include "employes/_header.html.twig" %}
{% block main %}
<main class="container">
    <div class="container px-4 py-5  bg-opacity-50 rounded" id="hanging-icons">
        <h2 class="pb-2 border-bottom">Bienvenue sur la page de gestion du site</h2>
        <div class="row g-4 py-5">
            <div class="col-lg-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ajouter Voitures</h5>
                        <p class="card-text">Vous pouvez ajouter et modifier les véhicules d'occasions en cliquant sur le bouton ci-dessous.</p>
                        <a href="{{ path('app_voitures_new') }}" class="btn btn-danger">Créer véhicules</a>
                        <a href="{{ path('app_voitures_index') }}" class="btn btn-danger">Voir les véhicules</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Créer Horaires</h5>
                        <p class="card-text">Vous pouvez ajouter, créer et modifier les horaires en cliquant sur le bouton ci-dessous.</p>
                        <a href="{{ path('app_horaires_new') }}" class="btn btn-danger">Créer horaires</a>
                        <a href="{{ path('app_employes') }}" class="btn btn-danger">Voir les horaires</a>
                    </div>
                </div>
            </div>

        <div class="row g-4 py-5">
            <div class="col-lg-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Voir les messages</h5>
                        <p class="card-text">Vous pouvez voir les messages de vos clients afin de les aider a avoir une réponse.</p>
                        <a href="{{ path('app_contact_messages') }}" class="btn btn-danger">Voir les messages</a>
                         </div>
                </div>
            </div>
            <div class="col-lg-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Voir les avis</h5>
                        <p class="card-text">Vous pouvez voir les avis envoyés par vos clients et effectuer les verifications.<br><br></p>
                        <a href="{{ path('app_avis_liste') }}" class="btn btn-danger">Voir les avis</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</main>
{% endblock %}
{% include "employes/_footer.html.twig" %}
</body>
{% endblock %}