{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
<a href="{{ path('app_avis_liste') }}" class="btn btn-secondary">Retour à la liste</a>
{{ form_end(form) }}
