<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Méta-informations -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Garage V Parrot, ce site a été construit afin de gérer les services proposés par le garage VParrot...">
    
    <!-- Titre de la page -->
    <title>
        {% block title %}Garage Vincent Parrot{% endblock %}
    </title>
		{% block metaDescription %}{% endblock %}

		<!-- START: Link tag for the favicon -->
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/assets/img/logo.png') }}" class="m-0 text-primary" alt="Logo de Garage Vincent Parrot">

		 <!-- Link tag for Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>

	 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('/assets/css/bootstrap.min.css') }}">
    
    <!-- Webpack Encore CSS -->
            {{ encore_entry_link_tags('app') }}
		{{ encore_entry_link_tags('app') }}
		<!-- Feuilles de style -->
		<link rel="stylesheet" href="{{ asset('/assets/css/style.scss') }}">
		 {% block stylesheets %}{% endblock %}

	
   <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <!-- JS WOW -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" defer></script>


	<!-- Scripts JavaScript -->
    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}{% endblock %}
</head>
<body>
 <!-- Bootstrap JS -->
    <script src="{{ asset('/assets/js/bootstrap.bundle.min.js') }}"></script>
    
    <!-- Fichiers JavaScript -->
    <script src="{{ asset('/assets/js/script.js') }}" defer></script>
	{% block body %}{% endblock %}
</body>
</html>
