{{ form_start(form) }}
{{ form_widget(form) }}

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_admin') }}" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</a>
{% elseif is_granted('ROLE_USER') %}
    <a href="{{ path('app_employes') }}" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</a>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_admin') }}" class="btn btn-secondary">Retour à la liste</a>
{% elseif is_granted('ROLE_USER') %}
    <a href="{{ path('app_employes') }}" class="btn btn-secondary">Retour à la liste</a>
{% endif %}

{{ form_end(form) }}
